* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

body {
  font-size: 16px;
  background-color: var(--Light-pink);
}

.bg-img {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  display: block;
}

.bg-img2 {
  display: none;
}

.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100;
  padding: 25px 20px;
  margin: 150px 20px;
  border-radius: 10px;
  gap: 25px;
}

.star {
  width: 30px;
}

.title {
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
  max-width: 100%;
}

.accordion {
  width: 100%;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--Light-pink);
}

.question-text {
  font-weight: 600;
  text-align: left;
  font-size: 1rem;
  width: 100%;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 20px;
}

.accordion-content {
  color: var(--Grayish-purple);
  line-height: 1.5;
  display: none;
  overflow: hidden;
}

.accordion-header:hover {
  color: hsl(292, 48%, 47%);
  cursor: pointer;
}

.plus-icon {
  width: 30px;
  visibility: visible;
}

.minus-icon {
  width: 30px;
  display: none;
}

.accordion-header.active .plus-icon {
  display: none;
}

.accordion-header.active .minus-icon {
  display: block;
}

.attribution {
  position: inherit;
  bottom: 0;
}

@media screen and (min-width: 500px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: var(--Light-pink);
    min-height: 100vh;
    position: relative;
    padding: auto 30px;
  }

  .bg-img2 {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .bg-img {
    display: none;
  }

  .app {
    background-color: white;
    display: flex;
    max-width: 35em;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 0px;
    margin: auto;
  }

  .accordion-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-bottom: 1px solid var(--Light-pink);
    padding: 0px;
  }

  .question-text {
    font-weight: 600;
    text-align: left;
    font-size: 1rem;
    width: 100%;
  }

  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion-content {
    color: var(--Grayish-purple);
    line-height: 1.5;
    display: none;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }

  .attribution {
    position: absolute;
    bottom: 0;
  }
}
